header {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav {
  list-style-type: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body {
  font-family: 'Mochiy Pop One', sans-serif;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.nav-link1 {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.nav2 {
  margin-right: 210px;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  margin-left: 20px;
}

.logo {
  padding-left: 240px;
}

.vector {
  width: 20px;
  height: 17px;
  margin-left: 10px;
}

.nav-link1 {
  padding-right: 15px;
}

.nav-link2 {
  margin-left: 0px;
}

.ellipse {
  margin: 2px;
}

.ellipse-ru {
  padding-right: 10px;
  padding-left: 15px;
}

.nav-link-ru {
  margin-left: 0px;
  margin-right: 62px;
}

.nav-link-ua {
  margin-left: 62px;
}

.catalog {
  text-align: left;
}

.main-cat {
  position: absolute;
  left: 305px;
  top: 95px;
  color: white;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

.all-cat {
  margin-left: 85px;
  position: absolute;
  left: 400px;
  top: 80px;
  font-weight: 500;
  color: white;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.rectangle {
  position: relative;
  background-color: #FFBE48;
  border-radius: 10px 0px 0px 0px;
  left: 240px;
  width: 370px;
  height: 60px;
  top: 30px;
}

.vector1 {
  position: absolute;
  left: 260px;
  top: 100px;
}

.rectangle6 {
  position: absolute;
  border-radius: 10px;
  width: 774px;
  border: none;
  height: 50px;
  background-color: #DDE8F0;
  left: 625px;
  top: 85px;
  padding-left: 10px;
}

input {
  outline: none;
}

.search1 {
  position: absolute;
  left: 1370px;
  top: 100px;
  background: none;
  border: none;
  cursor: pointer;
}

.yellowrec1 {
  position: absolute;
  width: 86px;
  height: 56px;
  border: 2px solid #FFCB6D;
  left: 1414px;
  top: 80px;
}

.yellowrec2 {
  position: absolute;
  width: 86px;
  height: 56px;
  border: 2px solid #FFCB6D;
  left: 1502px;
  top: 80px;
}

.yellowrec3 {
  position: absolute;
  left: 1590px;
  width: 86px;
  height: 56px;
  border: 2px solid #FFCB6D;
  border-radius: 0px 10px 0px 0px;
  top: 80px;
}

.par {
  position: absolute;
  left: 645px;
  color: #33485D;
  top: 85px;
}

.scales {
  position: absolute;
  left: 1444px;
  top: 100px;
}

.heart {
  position: absolute;
  left: 1532px;
  top: 100px;
}

.cart {
  position: absolute;
  left: 1618px;
  top: 100px;
}

.yel3 {
  position: absolute;
  background-color: #FFBE48;
  border-radius: 10px;
  width: 30px;
  height: 20px;
  left: 1644px;
  top: 88px;
  right: 246px;
}

.yell3 {
  position: absolute;
  left: 1655px;
  top: 77px;
  right: 256px;
  color: #33485D;
  font-size: 14px;
}

.grad {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#219653), to(#FFFFFF));
  background: linear-gradient(#219653, #FFFFFF);
  width: 1920px;
  height: 720px;
  top: 170px;
  left: 0px;
}

.bg {
  position: absolute;
  background-color: #fff;
  width: 1522px;
  height: 957px;
  left: 199px;
  top: 200px;
  right: 199px;
}

.leftup-bg {
  opacity: 0.5;
  position: absolute;
  width: 460px;
  height: 20px;
  left: 243px;
  top: 220px;
  color: #33485D;
}

.right-buttom-path {
  position: absolute;
  left: 290px;
  top: 255px;
}

.galoch {
  position: absolute;
  left: 968px;
  top: 263px;
}

.nalich {
  position: absolute;
  color: #249755;
  font-size: 16px;
  left: 1000px;
  top: 249px;
  right: 842px;
}

.star {
  position: absolute;
  left: 1100px;
  top: 267px;
}

.onestar {
  position: absolute;
  left: 1180px;
  top: 267px;
}

.num12 {
  position: absolute;
  text-decoration: underline;
  text-underline-offset: 3px;
  left: 1203px;
  top: 252px;
  color: #33485D;
  font-size: 14px;
}

.article {
  position: absolute;
  width: 109px;
  height: 17px;
  font-size: 14px;
  color: #5C6D7D;
  left: 1448px;
  top: 252px;
}

.main-img {
  position: absolute;
  left: 373px;
  top: 253px;
  width: 580px;
  height: 580px;
  border-radius: 10px;
}

.firstimg {
  position: absolute;
  left: 244px;
  top: 287px;
  width: 120px;
  height: 120px;
}

.secondimg {
  position: absolute;
  left: 244px;
  top: 417px;
  width: 120px;
  height: 120px;
}

.treeimg {
  position: absolute;
  left: 244px;
  top: 547px;
  width: 120px;
  height: 120px;
}

.forimg {
  position: absolute;
  left: 244px;
  top: 677px;
  width: 120px;
  height: 120px;
}

.aczi {
  position: absolute;
  border-radius: 10px;
  border: 1px solid #DDE8F0;
  left: 968px;
  top: 311px;
  width: 587px;
  height: 219px;
}

.product {
  position: absolute;
  border-radius: 10px 0px 0px 0px;
  background-color: #EB5757;
  left: 969px;
  top: 311px;
  width: 110px;
  height: 60px;
}

.act {
  position: absolute;
  left: 990px;
  top: 305px;
  font-size: 24px;
  color: white;
  width: 109px;
  height: 59px;
}

.product2 {
  position: absolute;
  background-color: #FDEEEE;
  border-radius: 0px 10px 0px 0px;
  left: 1080px;
  top: 311px;
  width: 478px;
  height: 60px;
}

.act1 {
  position: absolute;
  left: 1101px;
  top: 318px;
  font-size: 16px;
  color: #EB5757;
}

.price {
  position: absolute;
  left: 990px;
  top: 370px;
  color: #EB5757;
  font-size: 36px;
}

.price1 {
  position: absolute;
  left: 1146px;
  top: 405px;
  color: #33485D;
  opacity: 50%;
}

.vector2 {
  position: absolute;
  left: 1135px;
  top: 430px;
}

.rectangle-green {
  position: absolute;
  border-radius: 0px 0px 0px 10px;
  background-color: #219653;
  width: 226px;
  height: 60px;
  left: 969px;
  top: 472px;
}

.bucket {
  position: absolute;
  left: 990px;
  top: 463px;
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

.group {
  position: absolute;
  left: 1144px;
  top: 488px;
}

.yellowblock1 {
  position: absolute;
  width: 86px;
  height: 56px;
  border: 2px solid #FFCB6D;
  left: 1205px;
  top: 472px;
}

.yellowblock2 {
  position: absolute;
  width: 86px;
  height: 56px;
  border: 2px solid #FFCB6D;
  left: 1293px;
  top: 472px;
}

.bigyellowblock {
  position: absolute;
  width: 163px;
  height: 56px;
  border: 2px solid #FFCB6D;
  border-radius: 0px 0px 10px 0px;
  left: 1391px;
  top: 472px;
}

.scales2 {
  position: absolute;
  left: 1235px;
  top: 489px;
}

.heart2 {
  position: absolute;
  left: 1323px;
  top: 492px;
}

.phone {
  position: absolute;
  left: 1411px;
  top: 486px;
}

.phonetext {
  position: absolute;
  color: #5C6D7D;
  left: 1454px;
  top: 466px;
}

.horizont1 {
  position: absolute;
  color: #DDE8F0;
  left: 972px;
  top: 558px;
  opacity: 50%;
}

.horizont2 {
  position: absolute;
  color: #DDE8F0;
  left: 972px;
  top: 640px;
  opacity: 50%;
}

.horizont3 {
  position: absolute;
  color: #DDE8F0;
  left: 972px;
  top: 721px;
  opacity: 50%;
}

.horizont4 {
  position: absolute;
  color: #DDE8F0;
  left: 972px;
  top: 802px;
  opacity: 50%;
}

.shield {
  position: absolute;
  left: 983px;
  top: 599px;
  color: #219653;
}

.box {
  position: absolute;
  left: 982px;
  top: 680px;
  color: #219653;
}

.credits {
  position: absolute;
  left: 981px;
  top: 763px;
  color: #219653;
}

.guarantees {
  position: absolute;
  left: 1010px;
  top: 599px;
  margin: 0;
  color: #5C6D7D;
}

.delivery {
  position: absolute;
  left: 1010px;
  top: 678px;
  margin: 0;
  color: #5C6D7D;
}

.payment {
  position: absolute;
  left: 1010px;
  top: 762px;
  margin: 0;
  color: #5C6D7D;
}

.strelkamalaya {
  position: absolute;
  left: 1546px;
  top: 605px;
}

.strelkamalaya2 {
  position: absolute;
  left: 1546px;
  top: 686px;
}

.strelkamalaya3 {
  position: absolute;
  left: 1546px;
  top: 766px;
}

.left-buttom-path {
  position: absolute;
  left: 289px;
  top: 817px;
}

.name-product {
  position: absolute;
  width: 588px;
  height: 72px;
  left: 362px;
  top: 871px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  color: #33485D;
}

.color-text {
  color: #219653;
}

.list {
  position: absolute;
  left: 322px;
  top: 975px;
  list-style-type: none;
}

.right-text {
  line-height: 30px;
  color: #5C6D7D;
}

.zero {
  letter-spacing: 2.7px;
  color: #DDE8F0;
}

.bottom-text {
  position: absolute;
  left: 362px;
  top: 1080px;
}

.path-bot {
  position: absolute;
  left: 524px;
  top: 1102px;
}

.poloska {
  position: absolute;
  left: 362px;
  top: 1116px;
}

.reviews {
  position: absolute;
  width: 576px;
  height: 36px;
  left: 972px;
  top: 874px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  color: #33485D;
}

.bottom-text-1 {
  position: absolute;
  left: 1457px;
  top: 886px;
}

.path-bot-1 {
  position: absolute;
  left: 1553px;
  top: 908px;
}

.poloskapravaya {
  position: absolute;
  left: 1459px;
  top: 923px;
}

.name-client {
  position: absolute;
  left: 972px;
  top: 948px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #33485D;
}

.small-gray {
  opacity: 0.5;
}

.star-bottom {
  position: absolute;
  left: 1215px;
  top: 971px;
}

.one-star-bottom {
  position: absolute;
  left: 1294px;
  top: 971px;
}

.client-content {
  position: absolute;
  width: 559px;
  height: 146px;
  left: 972px;
  top: 991px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #5C6D7D;
}

.horizont5 {
  position: absolute;
  left: 971px;
  top: 1171px;
  color: #DDE8F0;
  color: stroke;
}

.name-client-1 {
  position: absolute;
  left: 972px;
  top: 1201px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #33485D;
}

.star-bottom-1 {
  position: absolute;
  left: 1215px;
  top: 1224px;
}

.one-star-bottom-1 {
  position: absolute;
  left: 1254px;
  top: 1224px;
}

.one-star-bottom-2 {
  position: absolute;
  left: 1274px;
  top: 1224px;
}

.one-star-bottom-3 {
  position: absolute;
  left: 1294px;
  top: 1224px;
}

.client-content-1 {
  position: absolute;
  width: 559px;
  height: 146px;
  left: 972px;
  top: 1244px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #5C6D7D;
}

.button-1 {
  position: absolute;
  border: 1px solid #FFA800;
  width: 145px;
  height: 38px;
  border-radius: 10px 0px 10px 0px;
  left: 1165px;
  top: 1377px;
}

.button-content {
  position: absolute;
  width: 104px;
  height: 40px;
  left: 1195px;
  top: 1366px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  /* or 16px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #5C6D7D;
}

.but-bg {
  position: absolute;
  border-radius: 5px;
  background-color: #0D4128;
  width: 1440px;
  height: 200px;
  left: 240px;
  top: 1455px;
}

.but-content-text {
  position: absolute;
  width: 1236px;
  height: 36px;
  left: 542px;
  top: 1488px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  color: #FFFFFF;
}

.white-box {
  position: absolute;
  border-radius: 10px;
  width: 586px;
  height: 60px;
  left: 667px;
  top: 1570px;
  background: #FFFFFF;
  border-radius: 3px;
}

.yellow-box {
  position: absolute;
  border: none;
  border-radius: 0px 3px 3px 0px;
  width: 213px;
  height: 56px;
  left: 1034px;
  top: 1571px;
  background: #ffaa00;
}

.yel-content {
  position: absolute;
  width: 122px;
  height: 29px;
  left: 1085px;
  top: 1561px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

.tel-text {
  position: absolute;
  width: 190px;
  height: 50px;
  left: 686px;
  top: 1560px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #33485D;
  opacity: 0.7;
}

.foot {
  position: absolute;
  width: 1920px;
  height: 60px;
  left: 0px;
  top: 1695px;
  background: #0D4128;
}

.left-but {
  position: absolute;
  width: 136px;
  height: 20px;
  left: 240px;
  top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.5;
  color: #FFFFFF;
}

.right-but {
  position: absolute;
  width: 126px;
  height: 20px;
  left: 1554px;
  top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  opacity: 0.5;
  color: #FFFFFF;
}

.borderos {
  border: 2px solid #219653;
  border-radius: 10px;
}

.firstimg:active {
  border: 2px solid #219653;
  border-radius: 10px;
}

.secondimg:active {
  border: 2px solid #219653;
  border-radius: 10px;
}

.treeimg:active {
  border: 2px solid #219653;
  border-radius: 10px;
}

.forimg:active {
  border: 2px solid #219653;
  border-radius: 10px;
}

.nav-item:hover {
  color: #33485D;
}

.bucket-2 {
  pointer-events: none;
  position: absolute;
  left: 1270px;
  top: 70px;
}

.slovo-1 {
  font-family: Nunito;
  position: absolute;
  left: 1370px;
  top: 190px;
  color: gray;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.slovo-2 {
  font-family: Roboto;
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.green-box {
  position: absolute;
  border-radius: 0px 10px 0px 0px;
  background-color: #47B39C;
  left: 1590px;
  width: 90px;
  height: 60px;
  top: 80px;
}

.cart11 {
  margin: 20px 25px;
}

.yel31 {
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 30px;
  height: 20px;
  left: 1644px;
  top: 88px;
  right: 246px;
}

.yell32 {
  position: absolute;
  left: 1655px;
  top: 77px;
  right: 256px;
  color: #33485D;
  font-size: 14px;
}

.zakaz:active {
  opacity: 0.8;
}

.zakaz {
  position: absolute;
  border-radius: 10px 0px 10px 0px;
  background-color: #47B39C;
  width: 277px;
  height: 60px;
  left: 1380px;
  top: 280px;
}

.redact-zakaz:hover {
  opacity: 0.8;
}

.oformit {
  position: absolute;
  width: 188px;
  height: 29px;
  left: 1400px;
  top: 272px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: white;
}

.cart12 {
  position: absolute;
  left: 1608px;
  top: 295px;
}

.redact-zakaz {
  position: absolute;
  width: 183px;
  height: 25px;
  left: 1380px;
  top: 350px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #33485D;
  border-bottom: 1px solid rgba(82, 79, 79, 0.5);
}

.accordion {
  position: absolute;
  left: 247px;
  top: 140px;
}

.whitebox {
  width: 371px;
  height: 60px;
  background-color: white;
}

.path-strelka {
  float: right;
  margin-top: 17px;
  margin-right: 17px;
}

.kart-1 {
  float: left;
  margin-left: 15px;
  margin-top: 14px;
}

.text-kart-1 {
  width: 245px;
  height: 50px;
  left: 60px;
  top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 70px;
  margin-left: 16px;
  color: #5C6D7D;
}

.graybox:hover {
  opacity: 1;
}

.graybox {
  margin-left: 6.5px;
  width: 358px;
  height: 60px;
  background: #DDE8F0;
  border-radius: 10px;
  opacity: 0;
}

.accordion-gray {
  position: absolute;
  left: 247px;
  top: 140px;
}

.whitebox-last {
  width: 371px;
  height: 60px;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
}

.accordion-item_input {
  opacity: 0;
}

.accordion-item_input:checked ~ .contentos {
  display: block;
}

.contentos {
  display: none;
}

#phone {
  position: absolute;
  width: 574px;
  height: 58px;
  left: 663px;
  top: 1569px;
  background: #FFFFFF;
  border-radius: 3px;
  border: none;
  color: #33485D;
  padding-left: 10px;
}
/*# sourceMappingURL=style.css.map */